* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #b9bdb5; }
  body .titulo {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Caveat', cursive; }
  body .redes {
    display: flex;
    list-style: none;
    justify-content: right;
    padding: 10px;
    margin: 10px; }

nav {
  width: 80%;
  background-color: #b9bdb5;
  margin: 10px auto; }
  nav .menu1 {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    nav .menu1 .nav-item {
      padding: 10px;
      margin: 10px; }
      nav .menu1 .nav-item:hover {
        background-color: blueviolet;
        border-radius: 15%; }
      nav .menu1 .nav-item a {
        text-decoration: none;
        color: azure; }
        nav .menu1 .nav-item a:hover {
          color: blue; }

.mb-3 {
  width: 500px;
  padding: 10px;
  margin: 10px; }

.submit {
  padding: 10px;
  margin: 10px; }

.redes a {
  width: 45px;
  height: 45; }
